.header .logo {
	width:354px;
}

.header {
	background-color: #fff;
}

.header .content{
	width: 1066px;
	height: 225px;
	margin: 0 auto;
	padding: 0px 15px;
}

.header .progress{
	float:right;
	margin-top: 91px;
}

.header .progress li{
	display: inline-block;
	margin-left: 25px;
}

.trivia {
	background-color: #4e8694;
	background-size: cover;
	height: 500px;
}

.trivia #question1 {
	color: #000000;
	text-align: center;
	padding-top: 120px;
	font-size: 26px;
}

.trivia #question2 {
	color: #000000;
	text-align: center;
	padding-top: 120px;
	font-size: 26px;
}

.trivia #question3 {
	color: #000000;
	text-align: center;
	padding-top: 120px;
	font-size: 26px;
}

.trivia #question4 {
	color: #000000;
	text-align: center;
	padding-top: 120px;
	font-size: 26px;
}

.trivia #question5 {
	color: #000000;
	text-align: center;
	padding-top: 120px;
	font-size: 26px;
}

.trivia #footer {
	font-size: 26px;
	text-align: center;
	padding-top: 174px;
}

#answer-box {
	margin-top: 50px;
}

button {
	margin-top: 40px;
}